{
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"corejs": 3
			}
		],
		"@vue/babel-plugin-jsx",
		["@babel/plugin-proposal-decorators", { "legacy": true }],
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties"
	],
	"presets": [
		"@babel/preset-env",
		[
		 "@babel/preset-typescript",
		  {
			  "isTSX": true, // 必须设置，否者编译tsx时会报错
			  "allowNamespaces": true,
        "allExtensions": true // 必须设置，否者编译.vue 文件中ts 代码会报错
		  }
		]
	]
}